asyncssh==2.18.0
boto3==1.34.154
bottleneck==1.3.7
cartopy==0.22.0
dask==2024.10.0
fiona==1.9.5
geopandas==0.14.2
netCDF4==1.6.2
nest-asyncio==1.6.0
numpy==1.26.4
matplotlib
pandas==2.2.2
pyproj==3.6.1
python-dotenv==1.0.1
rasterio>=1.3.10
regionmask==0.12.1
rioxarray==0.17.0
schedule
scipy==1.13.1
seaborn
shapely==2.0.5
tqdm
xarray==2024.10.0
zarr==2.18.3